<h1>New Event </h1>
<%= form_for(@event, html: {multipart: true}) do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  
  <%= f.label :date %>:
  <%= f.date_field :date%><br />

  <%= f.label :location %>:
  <%= f.text_field :location%><br />

  <%= f.label :description %>:
  <%= f.text_field :description%><br />

  <%= f.submit %>
<% end %>
